<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}" type="image/x-icon">
    <title>Refresh Session</title>
    <link rel="stylesheet" href="/static/refresh.css">
    <script src="/static/refresh.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>Refresh Session</h1>
        <button id="refreshButton">Refresh Session ID</button>
        <p id="result"></p>
    </div>
</body>
</html>
